# <center>Car Dataset</center>

### Modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### Initializing the dataframe

In [24]:
df = pd.read_csv('CarPrice.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
df.describe(include='O')

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
count,205,205,205,205,205,205,205,205,205,205
unique,147,2,2,2,5,3,2,7,7,8
top,toyota corona,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,6,185,168,115,96,120,202,148,159,94

In [12]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [9]:
df.shape

(205, 26)

#### Checking the skewness of the dataframe

In [19]:
df.select_dtypes(include='number').skew()

car_ID              0.000000
symboling           0.211072
wheelbase           1.050214
carlength           0.155954
carwidth            0.904003
carheight           0.063123
curbweight          0.681398
enginesize          1.947655
boreratio           0.020156
stroke             -0.689705
compressionratio    2.610862
horsepower          1.405310
peakrpm             0.075159
citympg             0.663704
highwaympg          0.539997
price               1.777678
dtype: float64

Clearly, compressionratio, horsepower, price and enginesize are highly positively skewed.  
wheelbase, carwidth, curbweight and citympg are moderately positively skewed.  
stroke is moderately negatively skewed.

#### Que #1: If i choose a car randomly, what is the probability that it is a Sedan?

In [20]:
df['carbody'].value_counts()

carbody
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: count, dtype: int64

In [42]:
E = df['carbody'].value_counts()['sedan']
S = df['carbody'].value_counts().sum()
P = round(E/S, 4)
print("The probability that I get a Sedan when choosen randomly is", P)

The probability that I get a Sedan when choosen randomly is 0.4683

#### Que #2: What is the probability that the car choosen randomly is Sedan and has fuel type as Gas(petrol)?

In [38]:
crosstab = pd.crosstab(df['carbody'], df['fueltype'], margins=True)
crosstab

fueltype     diesel  gas  All
carbody
convertible       0    6    6
hardtop           1    7    8
hatchback         1   69   70
sedan            15   81   96
wagon             3   22   25
All              20  185  205

In [46]:
E = crosstab.loc['sedan', 'gas']
S = len(df)
P = round(E/S, 4)
print("The probability that I get a Sedan which uses Fuel when choosen randomly is", P)

The probability that I get a Sedan which uses Fuel when choosen randomly is 0.3951

#### Que #3: What is the probability that a car is Sedan, given it is a fuel type?

In [47]:
crosstab = pd.crosstab(df['carbody'], df['fueltype'], margins=True)
crosstab

fueltype     diesel  gas  All
carbody
convertible       0    6    6
hardtop           1    7    8
hatchback         1   69   70
sedan            15   81   96
wagon             3   22   25
All              20  185  205

In [57]:
# P(S|F) = P(S n F) / P(F)
pSnF = crosstab.loc['sedan', 'gas']
pF = len(df[df['fueltype'] == 'gas'])
pS_F = round(pSnF / pF, 4)

print("The probability that I get a Sedan given it uses Gas is", pS_F)

The probability that I get a Sedan given it uses Gas is 0.4378